[ req ]
prompt = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C = US
ST = Texas
L = Austin
O = Serial Kilners, Inc.
OU = Kiln
CN = Kilners
emailAddress = a@aaronmcsorley.com
